<div (window:resize)="onResize($event)" #circuloPadre class="circuloPadre" [ngStyle]="{'background': bgColorPadre }">
  <div #circuloHijo1 class="circuloHijo1" [ngStyle]="{'background': topColor1, 'transform':rotate1 }">
  </div>
  <div #circuloHijo2 class="circuloHijo2" [ngStyle]="{'background': bgColor2 }">
  </div>
  <div #circuloHijo3 class="circuloHijo3" [style.color]="color" [ngStyle]="{'background': bgColor3 }">
    <span>{{ skill }}</span>
    <span class="percent">{{ percent }}%</span>
  </div>
</div>
